*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*header*/

header{
    width: 100%;
    height: 600px;
    background: #12c2e9;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f5a91, #c471ed76, #12c2e978);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f5a91, #c471ed76, #12c2e978), url(../imagenes/huellas.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a{
    color: #642a73;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
}
nav>a:hover{
    color: #fff;
   text-decoration: underline;

}

header .texto-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.texto-header h1{
    font-size: 50px;
    color: #fff;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: ani1;
}

.texto-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: ani2;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*video*/


.video video{
    width: 100%;
    height: 350px;
    padding-bottom: 20px;
}

/*identifica */

.contenedor-imagen{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
    
}

.imagen-somos{
    width: 45%;
}
.imagen-somos1{
    width: 80%;
    top: 20px;
    padding-bottom: 30px;

}
.imagen-somos2{
    width: 80%;
}
.sobre-nosotros .contenedor-texto{
    width: 48%;
}
.contenedor-texto h3{
    margin-bottom: 15px;
}
.contenedor-texto h3 span{
    background-color: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 10px;
}

.contenedor-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify; 
}



/*footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
@keyframes ani{
    from{
        opacity: 0;
        font-size: 80px;
        top: 10px;
        left: 30px;
    }
    to{
        opacity: 1;
        font-size: 50px;
        left: 100px;
    }
}
@keyframes ani2{
    from{
        opacity: 0;
        font-size: 50px;
        top: 10px;
        left: 30px;
    }
    to{
        opacity: 1;
        font-size: 30px;
        left: 100px;
    }
}